.a__redes_sociales{
    font-size: clamp(1rem, 4vw, 1.5rem);
    width: auto;
    color: var(--color-primary);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--color-prmimary);
    box-shadow: 0 0 10px var(--amarillo-hover), 0 0 5px var(--amarillo-hover);
    transition: all 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        background-color: var(--amarillo-hover);
        color: var(--color-secundario);
    }
}